Desktop.ini
ot4xb.sdf
*.VC.opendb
*.ppo
*.bak
*.idb                                      
*.disco	
*.idb	
*.ilk	
.map
.obj
.o
.pch	
.sbr	
.suo	
ot4xb/.vs/ot4xb/v14/.suo
*.ipch
v15
.vs
/ot4xb/Release/
/ot4xb/Debug/
/ot4xb/out/
/ot4xb/ot4xb.doc-tool.user
/ot4xb/ot4xb.ot4xb-tool.user
/ot4xb/Packages/
/ot4xb/source/Debug/
/ot4xb/source/Release/
/ot4xb/source/*.aps
/ot4xb/source/ot4xb.def
/ot4xb/source/ot4xbCpp.def
/ot4xb/source/ot4xb.exp
/ot4xb/source/ot4xb.lib

