Desktop.ini
ot4xb.sdf
*.VC.opendb
*.ppo
*.bak
*.idb                                      
*.disco	
*.idb	
*.ilk	
.map
.obj
.o
.pch	
.sbr	
.suo	
/.vs/
*.ipch
v15
.vs
/Release/
/Debug/
/Packages/
/source/Debug/
/source/Release/
/source/*.aps
